<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Connexion</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" action="log_in.php" method="post">
      <div class="control-group">
        <div class="controls">
          <input class="span2" type="text" placeholder="Email" name="email">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input class="span2" type="password" placeholder="Password" name="psw">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Log in</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
  <a href="sign_in.php" class="btn btn-primary">Créer un compte</a>
  </div>
</div>