<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Training web site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="vendors/bootstrap/css/bootstrap.css" rel="stylesheet">    
    <style type="text/css">
        @import url(http://fonts.googleapis.com/css?family=Questrial);
        @import url(http://fonts.googleapis.com/css?family=Arvo);
        @font-face {
            src: url(http://lea.verou.me/logo.otf);
            font-family: 'LeaVerou';
        }
        body {
        padding-top: 60px;
        padding-bottom: 40px;
        }
    </style>
    <link href="vendors/prism/prism.css" rel="stylesheet" />
    <link href="vendors/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="vendors/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="vendors/bootstrap/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="vendors/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="vendors/bootstrap/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="vendors/bootstrap/ico/favicon.png">
    <style type="text/css"></style>
  </head>
<body>