<form class="form-horizontal" action="create_user.php" method="post">
  <div class="control-group">
    <label class="control-label" for="pseudo">Pseudo</label>
    <div class="controls">
      <input class="span2" type="text" placeholder="Email" name="pseudo">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input class="span2" type="text" placeholder="Email" name="email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="psw">Password</label>
    <div class="controls">
      <input class="span2" type="password" placeholder="Password" name="psw">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="vemail">Vérification de l'Email</label>
    <div class="controls">
      <input class="span2" type="text" placeholder="Email" name="vemail">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="vpsw">Vérification du Password</label>
    <div class="controls">
      <input class="span2" type="password" placeholder="Password" name="vpsw">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>